#album-result {
    width: 100%;
    height: 100%;
}

#album-result .album-history-list {
    margin: 3.2rem auto;
    width: 90%;
    list-style: none;
}

.container .album-block {
    margin-top: 5.2rem;
    padding: 0 1.2rem;
}


@media (min-width: 700px) {
    #album-result {
        max-width: 95%;
    }

    #album-result main {
        max-width: 100%;
        margin: 0 auto;
    }

    .album-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}