.button-primary {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button-primary:hover {
    background-color: var(--color-primary-darker);
}

.button-primary-text {
    color: var(--color-button-text);
}

.button-primary-child {
    color: var(--color-button-text);
    margin: 0 0 0 10px;
}