header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-text-in-primary);
    box-shadow: 0px 0px 5px black;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

nav a {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: 200ms;
    background: var(--color-primary-lighter);
}

nav a:hover {
    background: var(--color-primary-light);
    transition: 200ms;
}

@media (min-width: 700px) {
    header {
        flex-direction: row;
        padding: 15px;
    }

    nav {
        flex-direction: row;
        width: auto;
    }

    nav a {
        border-radius: 8px;
        margin: 0 15px;
        background: var(--color-primary-lighter);
        color: var(--color-text-in-primary);
    }

    nav a:hover {
        background-color: var(--color-text-in-primary);
        color: var(--color-primary-lighter);
    }

    .site-title {
        margin-left: 15px;
    }

}