#artist-result {
    width: 100%;
    height: 100%;
}

#artist-result .artist-history-list {
    margin: 3.2rem auto;
    width: 90%;
    list-style: none;
}

.container .artist-block {
    margin-top: 10.2rem;
    padding: 0 1.2rem;
}


@media (min-width: 700px) {
    #artist-result {
        max-width: 70%;
    }

    #artist-result main {
        padding: 3.2rem;
        max-width: 100%;
        margin: 0 auto;
    }

    .artist-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}