.album-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary-lighter);
    border-radius: 5px;
    margin-top: 2.4rem;
    box-shadow: 0px 0px 5px black;
    height: 10rem;
    width: 100%;
    line-height: 20px;
    transition: 200ms;
}

.album-item:hover {
    background: var(--color-primary);
    transition: 200ms;
}

.album-item-img {
    height: 100%;
    border-radius: 5px;
}

.album-item-body {
    display: flex;
    height: 100%;
    width: 45%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.album-link {
    text-decoration: none;
    color: var(--color-text-in-primary);
}

.album-info-icon {
    padding: 0 2rem;
    color: var(--color-text-in-primary);
    font-size: 2.3rem;
}

.album-item-name {
    font-size: 2rem;
}

@media (min-width: 700px) {
    .album-item {
        width: 400px;
        height: 100px;
        flex-shrink: 1;
    }
}